<a href="https://colab.research.google.com/github/Martipetti/MachineLearning/blob/develop-martipetti/NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Neural Network

In [48]:
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder

Download the data

In [49]:
link = 'http://tennis-data.co.uk/2023/2023.xlsx'
totalData = pd.read_excel(link)

Cleaning DataSet

In [50]:
totalData = totalData[totalData['Series'] == 'Grand Slam']

In [51]:
trainingSet = totalData[["Tournament", "Surface", "Round", "Winner", "Loser", "WRank", "LRank", "Wsets", "Lsets", "B365W", "B365L", "PSW", "PSL"]]

In [52]:
trainingSet.reset_index(drop=True, inplace=True)
trainingSet.index = range(1, len(trainingSet) + 1)

In [53]:
nuovi_nomi_colonne = ["Tournament","Surface", "Round", "Player1", "Player2", "Rank1", "Rank2", "Sets1", "Sets2", "B1", "B2", "PS1", "PS2"]
trainingSet.columns = nuovi_nomi_colonne

In [54]:
trainingSet["target"] = 0

<ipython-input-54-60ba1f42b5c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["target"] = 0

Mapping string to integer

In [55]:
trainingSet["Tournament"] = trainingSet["Tournament"].astype("category")
trainingSet["Surface"] = trainingSet["Surface"].astype("category")
trainingSet["Round"] = trainingSet["Round"].astype("category")
trainingSet["Player1"] = trainingSet["Player1"].astype("category")
trainingSet["Player2"] = trainingSet["Player2"].astype("category")

<ipython-input-55-1d9e29e86b61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Tournament"] = trainingSet["Tournament"].astype("category")
<ipython-input-55-1d9e29e86b61>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Surface"] = trainingSet["Surface"].astype("category")
<ipython-input-55-1d9e29e86b61>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Round"] = trainingSet["Round"].astype("category")
<ipython-input-55-1d9e29e86b61>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Player1"] = trainingSet["Player1"].astype("category")
<ipython-input-55-1d9e29e86b61>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Player2"] = trainingSet["Player2"].astype("category")

In [56]:
trainingSet.dtypes

Tournament    category
Surface       category
Round         category
Player1       category
Player2       category
Rank1          float64
Rank2          float64
Sets1          float64
Sets2          float64
B1             float64
B2             float64
PS1            float64
PS2            float64
target           int64
dtype: object

In [57]:
label_encoder = LabelEncoder()
trainingSet["Tournament"] = label_encoder.fit_transform(trainingSet["Tournament"])
trainingSet["Surface"] = label_encoder.fit_transform(trainingSet["Surface"])
trainingSet["Round"] = label_encoder.fit_transform(trainingSet["Round"])

<ipython-input-57-be19e985f5d6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Tournament"] = label_encoder.fit_transform(trainingSet["Tournament"])
<ipython-input-57-be19e985f5d6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Surface"] = label_encoder.fit_transform(trainingSet["Surface"])
<ipython-input-57-be19e985f5d6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Round"] = label_encoder.fit_transform(trainingSet["Round"])

In [58]:
tmp_2 = label_encoder.fit_transform(trainingSet["Player2"])
tmp_1 = label_encoder.transform(trainingSet["Player1"])
trainingSet["Player1Code"], trainingSet["Player2Code"] = tmp_1, tmp_2

<ipython-input-58-a583ce67fab1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Player1Code"], trainingSet["Player2Code"] = tmp_1, tmp_2
<ipython-input-58-a583ce67fab1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainingSet["Player1Code"], trainingSet["Player2Code"] = tmp_1, tmp_2

Mixxing the player to avoid the pattern with the winner on the first columns and the loser on the second one

In [59]:
trainingSet

,Tournament,Surface,Round,Player1,Player2,Rank1,Rank2,Sets1,Sets2,B1,B2,PS1,PS2,target,Player1Code,Player2Code
1,0,2,0,Moutet C.,Wu Y.,62.0,114.0,3.0,2.0,2.38,1.57,2.40,1.65,0,117,185
2,0,2,0,Watanuki Y.,Rinderknech A.,138.0,59.0,3.0,0.0,2.30,1.62,2.18,1.77,0,182,144
3,0,2,0,Van De Zandschulp B.,Ivashka I.,34.0,73.0,3.0,1.0,1.36,3.20,1.47,2.91,0,175,76
4,0,2,0,Etcheverry T.,Barrere G.,79.0,83.0,3.0,1.0,2.30,1.62,2.43,1.63,0,49,8
5,0,2,0,Sinner J.,Edmund K.,16.0,581.0,3.0,0.0,1.06,10.00,1.05,15.72,0,158,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,2,2,4,Medvedev D.,Rublev A.,3.0,8.0,3.0,0.0,1.36,3.20,1.39,3.30,0,106,146
505,2,2,4,Alcaraz C.,Zverev A.,1.0,12.0,3.0,0.0,1.20,4.50,1.22,4.90,0,1,191
506,2,2,5,Djokovic N.,Shelton B.,2.0,47.0,3.0,0.0,1.06,10.00,1.09,9.76,0,43,155
507,2,2,5,Medvedev D.,Alcaraz C.,3.0,1.0,3.0,1.0,4.33,1.22,4.13,1.28,0,106,1
508,2,2,6,Djokovic N.,Medvedev D.,2.0,3.0,3.0,0.0,1.44,2.88,1.46,2.95,0,43,106

In [60]:
swap_rows = trainingSet.index[::2]

df_swapped = trainingSet.loc[swap_rows]
df_swapped['Player1Code'], df_swapped['Player2Code'] = df_swapped['Player2Code'], df_swapped['Player1Code']
df_swapped['target'] = 1
df_swapped['Rank1'], df_swapped['Rank2'] = df_swapped['Rank2'], df_swapped['Rank1']
df_swapped['Sets1'], df_swapped['Sets2'] = df_swapped['Sets2'], df_swapped['Sets1']
df_swapped['B1'], df_swapped['B2'] = df_swapped['B2'], df_swapped['B1']
df_swapped['PS1'], df_swapped['PS2'] = df_swapped['PS2'], df_swapped['PS1']

trainingSet = pd.concat([trainingSet.loc[~trainingSet.index.isin(swap_rows)], df_swapped])

In [61]:
trainingSet = shuffle(trainingSet)

In [62]:
testSet = trainingSet[trainingSet["Tournament"] == 3]